body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(222, 26%, 31%);
    font-family:'League Spartan', sans-serif;;
}
header{
    width: 495px    ;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    color: white;
    font-weight: 700;
}
main{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
#screen{
    width: 100%;
    height: 35%;
    background: hsl(224, 36%, 15%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color:  hsl(0, 0%, 100%);
}
#screen h1{
    font-size: 60px;
    margin: 0 15px 0 0;
}
#corp{
    width: 92%;
    height: 100%;
    background-color: hsl(223, 31%, 20%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
    align-content: space-around;
    flex-basis: 4;
    padding: 5% 0 5% 0;
    gap: 20px;
    padding: 20px;
}
.tecla{
    width: 20%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    flex-grow: 1;
}
.tecla button{
    width: 100%;
    height: 100%;
    background-color: hsl(30, 25%, 89%);
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 5px hsl(28, 16%, 65%) ;
    font-size: 30px;
    font-weight: 700;
    color: hsl(221, 14%, 31%);
}
.tecla button:hover{
    background-color: white;
}
.tecIgual button{
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    background: hsl(6, 63%, 50%);
    box-shadow: 0 5px hsl(6, 70%, 34%);
    color: white;   
}
#igual:hover{
    background: hsl(6, 78%, 67%);
}
.tecIgual{
    width: 20%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    flex-grow: 1;
}
.tecla p{
    margin: 0;
    
}
#header section{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    letter-spacing: 5px;
    padding-bottom: 20px;
}
#reset{
    background: hsl(225, 21%, 49%);
    box-shadow: 0 5px hsl(224, 28%, 35%);
    color: white;
}
#reset:hover{
    background: hsl(226, 33%, 68%);
}
#igual{
    background: hsl(6, 63%, 50%);
    box-shadow: 0 5px hsl(6, 70%, 34%);
    color: white;
}
#header section section{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 10px;
}
#header section section p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    letter-spacing: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left:5px ;
}
#header section section button{
    width: 95px;
    height: 35px;
    border-radius: 35px;
    border: 0;
    margin: 0;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: hsl(223, 31%, 20%);
}
#button p{
    margin: 0;
    padding: 0;
    width:27px;
    height:27px;
    border-radius: 20px;
    background: hsl(6, 63%, 50%);
}
#button p:hover{
    transform: scale(0.8);
}
@media (max-width: 768px) {
    header{
        width: 350px    ;
        height: 15vh;
    }
    main{
        width: 350px;
        height: 500px;
    }
    #screen{
        width: 350px;
        height: 35%;
    }
    #corp{
        width: 90%;
        height: 100%;
    }
    #header section{
        width: 43%;
        font-size: 14px;
        padding-bottom: 0px;
    }
    #header section section{
        width: 100%;
        gap: 5px;
        transform: scale(0.75);
    }

}